body{
    font-family: 'source sans pro', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family:'fjalla one', sans-serif;
}
h1{
    font-size: 40 px;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: -.2px;
}
.project-details{
    width: 500px;

}
.hero{
    height: 300px;
}