/* Gris osc #1D252C
Gris cl #626262
Background gris #1B2127
celeste=#026FFF
 */
body{
    font-family: 'source sans pro', sans-serif;
    margin:0;
}
h1,h2,h3,h4,h5,h6{
    font-family:'fjalla one', sans-serif;
}
h1{
    font-size: 40 px;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: -.2px;
    color: #ffffff;
    /* margin: 100px 520px 70px 30px; */
    margin: 0;
}
h1 strong{
    color: #026FFF;
}
h2{
    color:#026FFF;
    text-transform: uppercase;
    font-family: 'source sans pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.hero{
    height: 300px;
    background-image: url('../images/heroo.jpg');
    background-color:#1D252C;
    background-size:500px 300px;
    background-repeat:no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;

}
.portfolio{
    background: #FAFAFA;
    padding: 20px;
}
.project{
    border: 1px gray solid;
    border-radius: 10px;
    box-shadow:0px 0px 5px rgb(24, 19, 19);
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 30px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-title{
    font-size:  30px;
    margin-top: 0;
    margin-bottom: 0;
}
.projecto-course,
.project-date,
.project-url{
    margin: 10px 0;
}
.project-details{
    font-size: 18px;
}
.project strong{
    font-family:'fjalla one', sans-serif;
}
.project-details{
    width: 500px;

}
.project-imageContainer{
    width: 500px;
}
ol,ul{/* borrar valor de propiedades por defecto */
    margin:0;
    padding: 0;
    list-style: none;
}
figure{/* borrar valor margen por defecto */
    margin:0;
}

.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.menu{
    height: inherit;
}

.header ol{
    height: inherit;
    display: flex;
}
.header ol li {
    height: inherit;
}
.header a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}
.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer a{
    color: white;
}
.footer img{
    vertical-align: middle;
}
